BARM.v.0.2.fa.gz
BARM.v.1.0.fa.gz
.snakemake*
correlation/*
backup_dir/*
testing_dir/*
internal_standards/*
annotation/*
mapping/*
quantification/*
slurm-*
references/*
samples/*
cutadapt/*
fastqc/*
fastuniq/*
finished_reads/*
assembly/*
blast/*
mapping_stats/*
files_to_be_distributed/*
files_to_be_distributed_2016/*
test_taxonomy/*
taxonomy_annotation/*
only_for_mapping/*
*-slurm.out
unmapped_reads/*
multiqc_*
